#pkmnImageDiv {
	position: relative;
	float: right;
	height: 120px;
	width: 150px;
	overflow: visible;
}

#pkmnImage {
	position: absolute;
	margin: auto;
	top: -500px;
	left: -500px;
	right: -500px;
	bottom: -500px;
}